# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
build/
out/
.tsbuildinfo

# Dependency directories
.npm/

# Environment variables
.env
.env.local

# Logs
logs/
*.log

# Coverage directory used by tools like istanbul
coverage/
experience/
# IDE specific files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

Data Structures & Algorithms/

.nyc_output/
CodeTest/

